<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gabrielbb.cutout">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".CutOutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.github.gabrielbb.cutout.IntroActivity"
            android:label="@string/intro_label"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>
